body {
  font-size: 70%; /* Resets 1em to 10px */
  font-family: Verdana, Arial, Sans-Serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 30px 0 0;
  font-size: 1.4em;
  letter-spacing: -0.03em;
}

h1, h2, h3 {
  font-weight:  bold;
}

h1 a, h1 a:hover, h1 a:visited {
  color: black;
  text-decoration: none;
}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
  color: #333;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited {
  text-decoration: none;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  color: #0066CC;
  text-decoration: underline;
}

img {
  border: none;
}

.left-column {
  float: left;
  margin: 0;
  padding: 10px 0 20px 25px;
  width: 600px;
}

#wrapper {
  margin: 0 auto;
  padding: 0;
  width: 900px;
}

#header {
  position: relative;
  height: 90px;
  padding-left: 25px;
  border-bottom: 1px solid #EAEAEA;
}

#header h1 {
  position: absolute;
  bottom: 8px;
  margin: 0;
  font-size: 3.4em;
  letter-spacing: -0.09em;
}

#content {
  font-size: 1.2em;
  overflow: hidden;
}

#sidebar {
  margin-left: 650px;
  padding: 20px 0 10px 20px;
  width: 210px;
  position: relative;
}

#sidebar h2 {
  margin: 5px 0 0;
  font-size: 1.2em;
}

#sidebar p {
  margin: 5px 0 8px;
}

#sidebar ul {
  margin: 5px 0 0 10px;
  padding: 0;
  list-style: none;
}

#sidebar li {
  color: #777;
}

#sidebar li:before {
  content: "\00BB \0020";
}

.sidebar-block {
  margin-bottom: 15px;
}

#sidebar .widget h2 {
  margin-bottom: 10px;
}

#feed-sidebar {
  position: absolute;
  right: 0;
  top: 6px;
}

#search {
  width: 206px;
  position: absolute;
  right: 24px;
  bottom: 15px;
}

#search input#search-text {
  width: 200px;
  padding: 2px;
}

#toggle-about {
  font-size: x-small;
  text-align: right;
}

.post {
  margin-bottom: 30px;
}

.post h2 {
  margin: 10px 0 0;
}

.post h2 small {
  font-size: small;
  font-weight: normal;
}

#paginator {
  padding: 0 10px;
  overflow: hidden;
  margin: 30px 0;
}

#paginator .left {
  float: left;
}

#paginator .right {
  float: right;
}

#footer {
  width: 900px;
  clear: both;
  border-top: 1px dashed #CCCCCC;
}

#footer p {
  padding: 20px 0;
  text-align: center;
}

.gallery ul { list-style: none; margin: 0; padding: 10px 0px 10px 10px; }
.gallery li { display: inline; margin-right: 5px; }