<div id="about" class="sidebar-block">
  <div id="about-en">
    <h2>About me</h2>
    
    <p>My name is Álvaro Bautista. I currently work at <a href="http://www.lacoctelera.com">La Coctelera</a> and <a href="http://www.partigi.com">Partigi</a> as a web developer.</p>
    <p>In this blog, I intend to write about web development (Ruby on Rails, lately), general programming (Ruby, probably), tools, commands and useful scripts for our daily living.</p>
    
    Follow me on:
    <ul>
      <li>Twitter: <a href="http://www.twitter.com/batu">@batu</a></li>
      <li>Partigi: <a href="http://www.partigi.com/alvarobp">@alvarobp</a></li>
    </ul>
  </div>
  <div id="about-es" style="display: none">
    <h2>Sobre mí</h2>
    
    <p>Mi nombre es Álvaro Bautista y actualmente trabajo como desarrollador web en <a href="http://www.lacoctelera.com">La Coctelera</a> y <a href="http://www.partigi.com">Partigi</a>.</p>
    <p>En resumen, en este blog se <em>pretende</em> escribir sobre desarrollo web (Ruby On Rails últimamente), programación en general (Ruby probablemente), herramientas, comandos y scripts útiles para la vida diaria en nuestros UNIX y bueno, en general, todo aquello que se me ocurra escribir.</p>
    
    Sígueme en:
    <ul>
      <li>Twitter: <a href="http://www.twitter.com/batu">@batu</a></li>
      <li>Partigi: <a href="http://www.partigi.com/alvarobp">@alvarobp</a></li>
    </ul>
  </div>
  <div id="toggle-about">
    <p>
      <a href="javascript:void(null)">
        <span id="toggle-about-es">¿Español?</span>
        <span id="toggle-about-en" style="display: none">English?</span>
      </a>
    </p>
  </div>
</div>