<div id="about" class="sidebar-block">
  <div id="about-en">
    <h2>About me</h2>
    
    <p>My name is Álvaro Bautista. I currently work at <a href="http://vizzuality.com">Vizzuality</a> as a Ruby on Rails developer.</p>
    <p>In this blog, I intend to write about web development (Ruby on Rails, lately), general programming (Ruby, probably), tools, commands and useful scripts for our daily living.</p>
    
    Follow me on:
    <ul>
      <li>Twitter: <a href="http://www.twitter.com/batu">@batu</a></li>
      <li>Partigi: <a href="http://www.partigi.com/alvarobp">@alvarobp</a></li>
    </ul>
  </div>
</div>