<script type="text/javascript" src="/javascripts/compiled.js"></script>
<script type="text/javascript">
  dp.SyntaxHighlighter.ClipboardSwf = '/javascripts/syntax_highlighter/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
</script>
<script type="text/javascript">
  $(function(){
    $('.gallery a').lightBox();

    $('input#search-text').example('search out...');
  });

  //<![CDATA[
  (function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/batusstack/get_num_replies.js' + query + '"></' + 'scr\
ipt>');
  })();
  //]]>

</script>