<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/css/jquery.lightbox.css" type="text/css" media="screen" charset="utf-8" />
<link type="text/css" rel="stylesheet" href="/css/SyntaxHighlighter.css"></link>
{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1017993-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>