<div id="partigi_widget" class="sidebar-block widget">
  <h2>Partigi</h2>
  <!-- WIDGET PARTIGI - http://www.partigi.com - grab yours! -->
  
  <div id="prtg_cont">
  
    <h1><a href="http://es.partigi.com/alvarobp?utm_medium=referral&utm_source=widget&utm_campaign=widget_v1_films_data&utm_content=header_txt_link">Mis últimas películas</a></h1>
  
    <div id="prtg_int">
    </div>
  
    <div id="prtg_footer">
      <a href="http://es.partigi.com/?utm_medium=referral&utm_source=widget&utm_campaign=widget_v1_films_data&utm_content=footer_txt_link">te ayuda a elegir tu próxima peli</a>
      <a href="http://es.partigi.com/?utm_medium=referral&utm_source=widget&utm_campaign=widget_v1_films_data&utm_content=footer_logo"><img id="logo_prtg" src="http://es.partigi.com/images/partigi_logo_n_s.png" alt="Partigi Logo" width="109" height="31" /></a>
    </div>
  
    <script type="text/javascript" src="http://es.partigi.com/alvarobp/widget/2/5"></script>
  </div>
  <!-- / WIDGET PARTIGI - http://www.partigi.com - grab yours! -->
</div>