<div id="partigi_widget" class="sidebar-block widget">
  <h2>En Partigi</h2>
  <!-- WIDGET PARTIGI - http://www.partigi.com - grab yours! -->
  <style>
  /* COLORES */
  * body #prtg_cont { background: #CCECEF; border: 1px solid #CCECEF; margin: 0 0 2em; }
  * body #prtg_cont h1 a { color: #333; text-decoration: none; }
  * body #prtg_cont a { color: #006699; }
  * body #prtg_cont a:hover { background: none;}
  * body .prtg_item h2 a span { color: #999999; }
  * body #prtg_int { background: #F2FAFB;}

  /* ESTRUCTURA */
  * body #prtg_cont { font: 12px Arial, Helvetica;}
  * body #prtg_cont a img { border: none;}
  * body #prtg_int { padding: 9px 9px 1px 9px; }
  * body #prtg_cont h1 { border: none; background: none; font: bold 12px Helvetica, Arial; letter-spacing: -.05em; text-transform: uppercase; margin: 5px 5px 2px 5px;}
  * body .prtg_item { position: relative; padding: 0 0 0 46px; min-height: 52px; font-size: 11px; margin: 0 0 10px 0;}
  * body .prtg_item img { position: absolute; top: 0; left: 0; float: left; margin: 0 8px 4px 0;}
  * body .prtg_item h2 { border: none; background: none; margin: 1px 0 ; font: bold 14px Helvetica, Arial;}
  * body .prtg_item h2 a { text-decoration: none;}
  * body #prtg_cont #prtg_footer { position: relative; padding: 3px 120px 3px 3px; font-size: 11px;}
  * body #prtg_cont #logo_prtg { position: absolute; top: 1px; right: 3px;}

  </style>

  <div id="prtg_cont">
  
    <h1><a href="http://es.partigi.com/alvarobp?utm_medium=referral&utm_source=widget&utm_campaign=widget_v1_films_data&utm_content=header_txt_link">Mis últimas películas</a></h1>
  
    <div id="prtg_int">
    </div>
  
    <div id="prtg_footer">
      <a href="http://es.partigi.com/?utm_medium=referral&utm_source=widget&utm_campaign=widget_v1_films_data&utm_content=footer_txt_link">te ayuda a elegir tu próxima peli</a>
      <a href="http://es.partigi.com/?utm_medium=referral&utm_source=widget&utm_campaign=widget_v1_films_data&utm_content=footer_logo"><img id="logo_prtg" src="http://es.partigi.com/images/partigi_logo_n_s.png" width="109" height="31"></a>
    </div>
  
    <script src="http://es.partigi.com/alvarobp/widget/2/5"></script>
  </div>
  <!-- / WIDGET PARTIGI - http://www.partigi.com - grab yours! -->
</div>