<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>BatU's Stack</title>
    {% include common_header.html %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href="/">BatU's Stack</a></h1>
        {% include search.html %}
      </div>
      <div id="content" class="left-column">
        {{ content }}
      </div> <!-- #content -->
      <div id="sidebar">
        {% include feed_sidebar.html %}
        {% include aboutme.html %}
        {% include partigi_widget.html %}
        {% include twitter_widget.html %}
      </div><!-- #sidebar -->
      {% include footer.html %}
    </div> <!-- #wrapper -->
    {% include common_javascript.html %}
  </body>
</html>