<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>BatU's Stack</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href="/">BatU's Stack</a></h1>
      </div>
      <div id="content" class="left-column">
        {{ content }}
      </div> <!-- #content -->
      <div id="sidebar">
        {% include aboutme.html %}
        {% include partigi_widget.html %}
        {% include twitter_widget.html %}
      </div>
    </div> <!-- #wrapper -->
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $('#toggle-about a').click(function(){
          $('#about-es, #about-en, #toggle-about-en, #toggle-about-es').toggle();
        });
      });
    </script>
  </body>
</html>