<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>BatU's Stack - {{ page.title }}</title>
    {% include common_header.html %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href="/">BatU's Stack</a></h1>
        {% include search.html %}
      </div>
      <div id="content" class="left-column">
        <div class="post">
          <h2 class="title">
            <a href="{{ page.url }}">{{ page.title }}</a> <small>{{ page.date | date: "%Y-%m-%d" }}</small>
          </h2>
          <div class="body">
            {{ content }}
          </div>
        </div>
        <div id="disqus_thread"></div>
        <script type="text/javascript" src="https://disqus.com/forums/batusstack/embed.js"></script>
        <noscript><p><a href="https://disqus.com/forums/batusstack/?url=ref">View the discussion thread.</a></p></noscript>
        <p><a href="https://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a></p>
        {% if page.previous || page.next %}
        <div id="paginator">
          {% if page.previous %}<div class="left"><a href="{{ page.previous.url }}">&laquo; {{ page.previous.title | truncate: 30 }}</a></div>{% endif %}
          {% if page.next %}<div class="right"><a href="{{ page.next.url }}">{{ page.next.title | truncate: 30 }} &raquo;</a></div>{% endif %}
        </div>
        {% endif %}
      </div> <!-- #content -->
      <div id="sidebar">
        {% include aboutme.html %}
        {% include partigi_widget.html %}
      </div><!-- #sidebar -->
      {% include footer.html %}
    </div> <!-- #wrapper -->
    {% include common_javascript.html %}
  </body>
</html>
