<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>BatU's Stack</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8" />
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href="/">BatU's Stack</a></h1>
      </div>
      <div id="content" class="left-column">
        <div class="post">
          <h2 class="title">
            <a href="{{ page.url }}">{{ page.title }}</a> <small>{{ page.date | date: "%Y-%m-%d" }}</small> 
          </h2>
          <div class="body">
            {{ content }}
          </div>
        </div>
      </div> <!-- #content -->
      <div id="sidebar">
        {% include aboutme.html %}
        {% include partigi_widget.html %}
        {% include twitter_widget.html %}
      </div>
      {% include footer.html %}
    </div> <!-- #wrapper -->
    {% include common_javascript.html %}
  </body>
</html>